---
import Posts from "../../components/Posts.astro";
import BlogPost from "../../layouts/BlogPost.astro";

export async function getStaticPaths() {
	const allPosts = await Astro.glob("../posts/*.md");
	const uniqueTags = [
		...new Set(allPosts.map((post) => post.frontmatter.tags).flat()),
	];

	return uniqueTags.map((tag) => {
		const filteredPosts = allPosts.filter((post) =>
			post.frontmatter.tags.includes(tag)
		);
		return {
			params: { tag },
			props: { posts: filteredPosts },
		};
	});
}

const { tag } = Astro.params;
const { posts } = Astro.props;

const filteredPosts = posts.filter((post) =>
	post.frontmatter.tags?.includes(tag)
);
---

<BlogPost title={tag}>
	<h1 class="font-semibold text-xl mb-4">Posts tagged with {tag}</h1>
	<Posts allPosts={filteredPosts} />
</BlogPost>
