---
import BlogPost from "../../layouts/BlogPost.astro";
const pageTitle = "Tags";

const allPosts = await Astro.glob("../posts/*.md");
const tags = [...new Set(allPosts.map((post) => post.frontmatter.tags).flat())];

const uniqueTags = [
	...new Set(allPosts.map((post) => post.frontmatter.tags).flat()),
];

const objLength = (object) => {
	var length = 0;
	for (var key in object) {
		if (object.hasOwnProperty(key)) {
			++length;
		}
	}
	return length;
};

const getTagCount = () => {
	const result = {};
	uniqueTags.forEach((tag) => {
		const filteredPosts = allPosts.filter((post) =>
			post.frontmatter.tags.includes(tag)
		);
		result[tag] = objLength(filteredPosts);
	});
	return result;
};

// format: {tag: count}
const tagCount = getTagCount();
---

<BlogPost title={pageTitle}>
	<section class="flex flex-wrap gap-2">
		{
			tags.map((tag) => (
				<p class="my-2">
					<a
						class="flex items-center justify-center font-semibold rounded-md bg-zinc-200 hover:bg-zinc-300 dark:hover:bg-zinc-900 dark:bg-zinc-800"
						href={`/tags/${tag}`}
					>
						<span class="px-3 py-2 rounded-tl-md rounded-bl-md bg-inherit">
							{tag}
						</span>
						<span class="px-3 py-2 bg-orange-400 dark:bg-purple-600 rounded-tr-md rounded-br-md">
							{tagCount[tag]}
						</span>
					</a>
				</p>
			))
		}
	</section>
</BlogPost>
