---
import ButtonDark from "../components/ButtonDark.astro";
import ButtonLight from "../components/ButtonLight.astro";
import ToggleTheme from "../components/ToggleTheme.astro";
---

<html lang="en" class="light">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body
		class="max-w-screen-lg px-2 mx-auto bg-light-background text-light-foreground dark:bg-dark-background dark:text-dark-foreground"
	>
		<nav class="flex justify-between">
			<h1>MyBlog</h1>
			<div>
				<a href="#">About</a>
			</div>
			<ToggleTheme />
		</nav>
		<ButtonDark text="Get Started" />
		<ButtonLight text="Get Started" />
	</body>
</html>
