---
const { text } = Astro.props;
---

<button
	class="px-4 py-2 font-semibold rounded-md shadow bg-button-light text-button-dark dark:bg-button-dark dark:text-button-light hover:bg-zinc-200 dark:hover:bg-zinc-800"
>
	{text}
</button>
