---
const { text } = Astro.props;
---

<button
	class="px-4 py-2 font-semibold rounded-md shadow bg-button-dark text-button-light hover:bg-zinc-800 dark:hover:bg-zinc-200 dark:bg-button-light dark:text-button-dark"
>
	{text}
</button>
