---
import Links from "./Links.astro";
---

<script>
	document.querySelector(".hamburger").addEventListener("click", () => {
		var x = document.getElementById("myLinks");

		if (x.style.display === "block") {
			x.style.display = "none";
		} else {
			x.style.display = "block";
		}
	});
</script>

<div class="hamburger">
	<span class="line"></span>
	<span class="line"></span>
	<span class="line"></span>
	<div class="nav-links" id="myLinks">
		<Links />
	</div>
</div>

<style lang="scss">
	.hamburger {
		position: relative;
		display: none;
		padding-right: 0px;
		cursor: pointer;
		margin-bottom: -8px;
		margin-left: 1em;

		@media (max-width: 640px) {
			display: block;
		}
	}

	.hamburger .line {
		display: block;
		width: 25px;
		height: 2px;
		margin-bottom: 6px;
		background-color: black;
	}

	:global(.dark) .hamburger .line {
		background-color: white;
	}

	.nav-links {
		position: absolute;
		display: none;
		z-index: 2;
		right: 0;
		top: 50px;
		background-color: #fafafa;
		color: #18181b;
		padding: 0.75em 0.5em;
		border-radius: 2px;
		border: 1px solid #18181b;
	}

	:global(.dark) .nav-links {
		border: 1px solid #fafafa;
		background-color: #18181b;
		color: #fafafa;
	}
</style>
