---
import { MY_SOCIAL_LINKS } from "../consts";
import Hamburger from "./Hamburger.astro";
import Links from "./Links.astro";
import Logo from "./Logo.astro";
import ThemeIcon from "./ThemeIcon.astro";
---

<nav
	class="flex items-center justify-between h-16 pt-4 mb-10 dark:border-light-background"
>
	<Logo />

	<div id="nav-links">
		<Links />
	</div>

	<div class="flex items-center justify-center">
		<a
			href={MY_SOCIAL_LINKS.website}
			target="_blank"
			title="My Website Link"
			class="p-2 mr-1 text-black rounded-xl dark:text-dark-foreground hover:bg-zinc-100 dark:hover:bg-zinc-800"
		>
			<svg
				width="24"
				height="24"
				xmlns="http://www.w3.org/2000/svg"
				aria-hidden="true"
				astro-icon="social/website"
				><path
					fill="currentColor"
					d="M14.851 11.923c-.179-.641-.521-1.246-1.025-1.749-1.562-1.562-4.095-1.563-5.657 0l-4.998 4.998c-1.562 1.563-1.563 4.095 0 5.657 1.562 1.563 4.096 1.561 5.656 0l3.842-3.841.333.009c.404 0 .802-.04 1.189-.117l-4.657 4.656c-.975.976-2.255 1.464-3.535 1.464-1.28 0-2.56-.488-3.535-1.464-1.952-1.951-1.952-5.12 0-7.071l4.998-4.998c.975-.976 2.256-1.464 3.536-1.464 1.279 0 2.56.488 3.535 1.464.493.493.861 1.063 1.105 1.672l-.787.784zm-5.703.147c.178.643.521 1.25 1.026 1.756 1.562 1.563 4.096 1.561 5.656 0l4.999-4.998c1.563-1.562 1.563-4.095 0-5.657-1.562-1.562-4.095-1.563-5.657 0l-3.841 3.841-.333-.009c-.404 0-.802.04-1.189.117l4.656-4.656c.975-.976 2.256-1.464 3.536-1.464 1.279 0 2.56.488 3.535 1.464 1.951 1.951 1.951 5.119 0 7.071l-4.999 4.998c-.975.976-2.255 1.464-3.535 1.464-1.28 0-2.56-.488-3.535-1.464-.494-.495-.863-1.067-1.107-1.678l.788-.785z"
				></path></svg
			>
		</a>
		<a
			href="https://github.com/nidhish-nayak"
			target="_blank"
			title="Github Link"
			class="p-2 mr-2 rounded-xl text-zinc-950 dark:text-dark-foreground hover:bg-zinc-100 dark:hover:bg-zinc-800"
		>
			<svg
				viewBox="0 0 16 16"
				aria-hidden="true"
				width="24"
				height="24"
				astro-icon="social/github"
				><path
					fill="currentColor"
					d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z"
				></path></svg
			>
		</a>
		<ThemeIcon />
		<Hamburger />
	</div>
</nav>

<style>
	#nav-links {
		@media (max-width: 640px) {
			display: none;
		}
	}
</style>
