---
import ToggleTheme from "./ToggleTheme.astro";
---

<nav
	class="flex items-center justify-between h-16 mb-10 border-b border-slate-950 dark:border-light-background"
>
	<a href="/" class="flex">
		<img
			src="https://ik.imagekit.io/fabric01/nid-blog/logo.png?updatedAt=1696178063390"
			alt="Logo"
			class="h-10"
		/>
		<h1 class="-mx-1 text-2xl font-bold">idhish</h1>
	</a>

	<ul class="flex items-center justify-center">
		<li>
			<a
				class="px-3 py-2 font-semibold rounded-md hover:bg-zinc-100 dark:hover:bg-zinc-800"
				href="/">Blog</a
			>
		</li>
		<li>
			<a
				class="px-3 py-2 font-semibold rounded-md hover:bg-zinc-100 dark:hover:bg-zinc-800"
				href="/about/">About</a
			>
		</li>
		<li>
			<a
				class="px-3 py-2 font-semibold rounded-md hover:bg-zinc-100 dark:hover:bg-zinc-800"
				href="/tags/">Tags</a
			>
		</li>
	</ul>
	<ToggleTheme />
</nav>
