---
import Hamburger from "./Hamburger.astro";
import Links from "./Links.astro";
import Logo from "./Logo.astro";
import ThemeIcon from "./ThemeIcon.astro";
---

<nav
	class="flex items-center justify-between h-16 mb-10 border-b border-slate-950 dark:border-light-background"
>
	<Logo />
	<div id="nav-links">
		<Links />
	</div>
	<div class="flex justify-center items-center">
		<ThemeIcon />
		<Hamburger />
	</div>
</nav>

<style>
	#nav-links {
		@media (max-width: 640px) {
			display: none;
		}
	}
</style>
