---
import Post from "./Post.astro";
const { allPosts } = Astro.props;
---

<main class="flex flex-wrap items-center justify-between gap-8">
	{allPosts.reverse().map((postData) => <Post post={postData} />)}
</main>
