---

---

<aside class="my-4">
	<form action="" class="form">
		<div>
			<label for="search">Search the blog</label>
			<span> - Enter a search term:</span>
		</div>
		<input
			type="search"
			required
			minlength="2"
			maxlength="24"
			name="search"
			id="search"
			placeholder="Press Enter to search..."
			class="p-2 rounded-md bg-zinc-200"
		/>
	</form>
</aside>

<script>
	import DOMPurify from "dompurify";

	const form = document.querySelector("form");
	form?.addEventListener("submit", (e) => {
		e.preventDefault();
		const formData = new FormData(form);
		const searchTerm = formData.get("search")?.toString();
		if (!searchTerm || searchTerm.length === 0) return;
		const url = new URL("/search", window.location.origin);
		url.searchParams.set("q", searchTerm);
		window.location.assign(url.toString());
	});
</script>
