---
const { toggleType } = Astro.props;
---

<script>
	const themeToggleBtn = document.querySelector(".themeToggle");
	const htmlElement = document.querySelector("html");

	themeToggleBtn.addEventListener("click", () => {
		htmlElement.classList.toggle("light");
		htmlElement.classList.toggle("dark");
	});
</script>

<div>
	<input class="themeToggle" type="checkbox" id="trigger" />
	<label for="trigger"></label>
</div>

<style>
	div {
		display: flex;
		align-items: center;
		justify-content: center;
	}

	label {
		position: relative;
		display: block;
		width: 55px;
		height: 30px;
		border-radius: 100px;
		background-color: #09090b;
		overflow: hidden;
		cursor: pointer;
		&:before,
		&:after {
			display: block;
			position: absolute;
			content: "";
			width: 20px;
			height: 20px;
			border-radius: 50%;
			top: 5px;
			left: 5px;
			transition: 0.5s ease;
		}
		&:before {
			background-color: #ffa41b;
		}

		&:after {
			background-color: #09090b;
			left: -58px;
			transform: scale(0.00001);
		}
	}

	input[type="checkbox"].themeToggle {
		display: none;
		&:checked + label {
			background-color: #fafafa;
			&:before {
				background-color: #09090b;
				transform: translateX(25px);
			}

			&:after {
				transform: translateX(80px) scale(1);
				background-color: #fafafa;
			}
		}
	}
</style>
